<p><%= t("table.buttons.title") %></p>
<p>
  <%= add_button if Snaptable.add_button && add_button? %>
  <%= edit_button if Snaptable.edit_button && edit_button? %>
  <%= show_button if Snaptable.show_button && show_button? %>
  <%= delete_button if Snaptable.delete_button && delete_button? %>
</p>