<div class="snaptable <%= presenter.table_name %>">
	<%= render 'snaptable/search_field' if presenter.options[:search] == true %>

	<div class="table_buttons">
		<%= render presenter.instance_variable_get(:@buttons) unless presenter.options[:buttons] == false %>
	</div>

	<div class="table_container">
		<table>
			<thead>
				<tr>
					<% presenter.column_names.each do |column| %>
					<th><%= presenter.sortable(column) %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% if presenter.records.any? %>
					<% presenter.records.each do |record| %>
						<tr class="<%= cycle('odd', 'even') %>" data-url="<%= record.send(presenter.url) %>">
							<% presenter.values(record).each do |value| %>
								<td><%= truncate((strip_tags value), length: 40) %></td>
							<% end %>
						</tr>
					<% end %>
				<% else %>
					<tr><td class="none" colspan="<%= presenter.column_names.count %>"><%= t("table.nothing") %></td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= will_paginate presenter.records, param_name: presenter.paginate_key, params: { table: presenter.table_name } %>

</div>
